.Products{
    width:100%;
    background-color: white;
    text-align: left;
    margin:30px;
    color:black;
    font-size:14pt;
}
.filterContainer{
    text-align: right;
    margin-right: 110px;
}

.filter{
    width:120px;
    color:black;
    background-color:lightgray;
    border-radius: 10px;
    padding:5px;

    text-align: center;
    display: inline-block;
    margin-left:10px;
    cursor: pointer;
    
}

.ProductCard{
    padding:10px;
     width: 400px;
     height:250px;
     background-color: white;
     border:1px solid black;
     border-radius: 10px;
     margin:15px;
     display:inline-block;
     cursor: pointer;
    }
    .ProductCard:hover{
        background-color:ivory
    }
    .ProductImage{
        padding-top:5px;
        max-width:150px;
    }
    .button{
        width:200px;
        height:40px;
        background-color:#3578E5;
        color:white;
        cursor:pointer;
    }