USE [HomePractice]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2020. 07. 07. 17:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 2020. 07. 07. 17:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Manufacurer] [nvarchar](max) NOT NULL,
	[ManufacturerColourCode] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Manufacturers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2020. 07. 07. 17:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Amount] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderOfProducts]    Script Date: 2020. 07. 07. 17:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderOfProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_OrderOfProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2020. 07. 07. 17:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ManufacturerId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Price] [int] NOT NULL,
	[Currency] [nvarchar](max) NOT NULL,
	[Count] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[visitCount] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name]) VALUES (1, N'Hűtő')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (2, N'Mosógép')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (3, N'TV')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturers] ON 

INSERT [dbo].[Manufacturers] ([Id], [Manufacurer], [ManufacturerColourCode]) VALUES (3, N'Huawei', N'#CF0A2C')
INSERT [dbo].[Manufacturers] ([Id], [Manufacurer], [ManufacturerColourCode]) VALUES (4, N'Bosch', N'#c89e9c')
INSERT [dbo].[Manufacturers] ([Id], [Manufacurer], [ManufacturerColourCode]) VALUES (5, N'Sony', N'#165b65')
SET IDENTITY_INSERT [dbo].[Manufacturers] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [CategoryId], [ManufacturerId], [Name], [Price], [Currency], [Count], [Description], [Image], [visitCount]) VALUES (1, 5, 6, N'IPhone 11pro max', 300000, N'HUF', 1, N'Apple Iphone 11pro', N'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRHqgLP9kDaVkB06S3ToWBCZhwohi7STxZfOeIb6MAW55LVidosKQe4Qak6Qfrn7TzYf1i4reL6&usqp=CAc', 11)
INSERT [dbo].[Product] ([Id], [CategoryId], [ManufacturerId], [Name], [Price], [Currency], [Count], [Description], [Image], [visitCount]) VALUES (2, 4, 6, N'Macbook Pro 13" 256Gb', 520000, N'HUF', 2, N'Apple macbook pro 13" 256G', N'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRpZimNGpsm9namvC0Rmu1_mcgsmga4i4UE1xwq3jiYbusCeIE9b5Oh9WsD2qrh4AdkVAT7Rzw&usqp=CAc', 33)
INSERT [dbo].[Product] ([Id], [CategoryId], [ManufacturerId], [Name], [Price], [Currency], [Count], [Description], [Image], [visitCount]) VALUES (5, 2, 4, N' Wab24262by ', 150000, N'HUF', 3, N'Mosógép', N'https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSBQCorKAB7huS4ReW0tw8wI_dHRoE6WoWIjTQvyoSBPyTCnNg3eGraFudjv5qOZ-DY8FpWZBlbIw&usqp=CAc', 5)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Category] FOREIGN KEY([Id])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Category]
GO
ALTER TABLE [dbo].[OrderOfProducts]  WITH CHECK ADD  CONSTRAINT [FK_OrderOfProducts_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderOfProducts] CHECK CONSTRAINT [FK_OrderOfProducts_Order]
GO
ALTER TABLE [dbo].[OrderOfProducts]  WITH CHECK ADD  CONSTRAINT [FK_OrderOfProducts_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderOfProducts] CHECK CONSTRAINT [FK_OrderOfProducts_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Manufacturers] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturers] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Manufacturers]
GO
